<!DOCTYPE html>
	
<div xmlns:th="http://www.thymeleaf.org">
	<table>
		<thead>
			<tr>
				<th>Id</th><th>Name</th><th>Image</th><th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="image : ${images}">
				<td th:text="${image.id}" />
				<td th:text="${image.name}" />
				<td>
					<a th:href="@{'/images/' + ${image.name} + '/raw'}">
						<img th:src="@{'/images/' + ${image.name} + '/raw'}" class="thumbnail" />
					</a>
				</td>
				<td>
					<form th:method="delete" th:action="@{'/images/' + ${image.name}}">
						<input type="submit" value="delete" />
					</form>
				</td>
				<td>
					<ul th:id="'comments-' + ${image.id}">
						<li th:each="comment : ${image.comments}"
							th:text="${comment.comment}"></li>
					</ul>
				</td>
				<td>
					<input th:id="'comment-' + ${image.id}" type="text" value="" />
					<button th:id="${image.id}" class="comment">Submit</button>
				</td>
			</tr>
		</tbody>
	</table>
		
	<p><input type="file" name="file" id="file" /></p>
	<p><button id="upload">Upload</button></p>
</div>
